ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    font-size:larger;
    background-color: #8f2714;
  }

  li {
    float: left;
  }

  li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
  }

  li a:hover, .dropdown:hover .dropbtn {
    border: 5px solid;
    border-color: rgb(7, 30, 79);
  }

  li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5593d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(7, 32, 51, 0.2);
    z-index: 1;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  font-size: large;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f5593d;}

.dropdown:hover .dropdown-content {
  display: block;
}
.active {
  background-color: #f5593d;
}


body {
  background-image: radial-gradient(rgb(252, 252, 252), rgba(48, 51, 46, 0.534), rgb(0, 0, 0));;
}

.container {
  color:rgb(0, 0, 0);
  border-color: rgb(243, 240, 240);
  border: 7px dotted;  
  border-style: dotted;
  width: 65%;
  margin: auto; 
  line-height:1.7em; 
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: larger;
}

h1 {
  text-align: center;

  line-height: 50px;
}

.logo-image{
  width: 260px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  margin-left: 20px;
  margin-top: 5px;
  margin-right: 200px;
}

.logo-image2{
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  position: absolute;
  z-index: 2;
  right: 100px;
  top: 10px;
}

.logo-image3{
  border-radius: 50%;
  overflow: hidden;
  margin-top: -6px;
  position: absolute;
  z-index: 2;
  right: 486px;
  top: 10px;
}
