<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <title>All Stocks: Days & Close Prices </title>
</head>
<body>
    <!--NavBar-->
    <ul>

        <li><a href="/all_stocks.html">All Stocks</a></li>
        <li><a href="/top10stocks.html">Top 10 Stocks</a></li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Winning/Losing Stocks</a>
            <div class="dropdown-content">
              <a href="/winning.html">Outperformed Market</a>
              <a href="/losing.html">Didn't Perform Market</a>

            </div>
        <li style="float:left"><a class="active" href="/">Home</a></li>
    
    </ul>

    <div class="container">
        <h1>A List of All S&P 500 Stocks <br/> & How They Compare </h1>
        <p>
            When comparing each stock and it's competitor...the S&P 500 stock, we have grabbed data and used Linear Regression Machine Learning to determine which future stock price will theoretically outperform the other.
        </p>
        <p>
            We have added results of a few important stocks and how they compare to the S&P 500.
        </p>

        <!-- <div class="stock_image1">
            <img src="static/img/day_stadium.jpg" alt="Day Stadium Image" width="450" height="350">
        </div>
        
        <div class="stock_image2">
            <img src="static/img/night_stadium.jpg" alt="Night Stadium Image" width="450" height="350">
        </div> -->
        


    </div>

        
    
</body>
</html>