<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <title>Let's Beat The Market!</title>
    

</head>

<body>

        


    <!--NavBar-->

    <!-- <header class="site-header">
        <div class="wrapper site-header__wrapper">
          <a href="/winning.html" class="brand">Brand</a>
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="/winning.html">Home</a></li>
              <li class="nav__item"><a href="/losing.html">About</a></li>
              <li class="nav__item"><a href="/all_stocks.html">Services</a></li>
              <li class="nav__item"><a href="/top10stocks.html">Hire us</a></li>
              <li class="nav__item"><a href="">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header> -->

      <ul>
        <li style="float:left"><a class="active" href="/">Home</a></li>  
        <li><a href="/all_stocks.html">S&P 500</a></li>
     

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Winning/Losing Stocks</a>
            <div class="dropdown-content">
              <a href="/winning.html">Winning Stocks</a>
              <a href="/losing.html">Worst Stocks</a>
              <a href="/top10stocks.html">Runner-Upss</a>

            </div>
        
        
          </ul>

    <div class="container">
        <h1>Machine Learning: A Smarter Way To Invest</h1>
        <h2> Can a robot predicit which stocks will beat the market? </h2>
          <h3>We built a machine learning application to find out!  </h3>
          
          <img src="static/img/technology-background.jpg" alt="techy stuff" class="center1" width="1100" height="550">
          <p><br></p>
        
         <!-- <div class="stock_image1">
          <img src="static/img/day_stadium.jpg" alt="Day Stadium Image" width="450" height="350">
          </div>
      
          <div class="stock_image2">
          <img src="static/img/night_stadium.jpg" alt="Night Stadium Image" width="450" height="350">
          </div> -->


    </div> 
    

    
</body>
</html>