<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <title>Let's Beat The Market!</title>
    

</head>

<body>

    <a class="navbar-brand" href="/">
        <div class="logo-image">
              <img src="../static/img/stocks.jpg" class="img-fluid" width="375" height="130">
        </div>
    </a>

    <a class="navbar-brand" href="/">
        <div class="logo-image2">
              <img src="../static/img/wall.jpg" class="img-fluid" width="300" height="111">
        </div>
    </a>

    <a class="navbar-brand" href="/">
        <div class="logo-image3">
              <img src="../static/img/market_going_up1.jpg" class="img-fluid" width="400" height="111">
        </div>
    </a>

    <!--NavBar-->

    <!-- <header class="site-header">
        <div class="wrapper site-header__wrapper">
          <a href="/winning.html" class="brand">Brand</a>
          <nav class="nav">
            <button class="nav__toggle" aria-expanded="false" type="button">
              menu
            </button>
            <ul class="nav__wrapper">
              <li class="nav__item"><a href="/winning.html">Home</a></li>
              <li class="nav__item"><a href="/losing.html">About</a></li>
              <li class="nav__item"><a href="/all_stocks.html">Services</a></li>
              <li class="nav__item"><a href="/top10stocks.html">Hire us</a></li>
              <li class="nav__item"><a href="">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header> -->

    <ul>
        <li><a href="/all_stocks.html">All Stocks</a></li>
        <li><a href="/top10stocks.html">Top 10 Stocks</a></li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Winning/Losing Stocks</a>
            <div class="dropdown-content">
              <a href="/winning.html">Outperformed Market</a>
              <a href="/losing.html">Didn't Perform Market</a>

            </div>
        <li style="float:left"><a class="active" href="/">Home</a></li>   
        
    </ul>

    <div class="container">
        <h1>S&P 500 Stocks: Which stocks will <br>outperform the market? </h1>
        <p>
            When comparing each stock and it's competitor...the S&P 500 stock, we have grabbed data and used Linear Regression Machine Learning to determine which future stock price will theoretically outperform the other.
        </p>
        <p>
            We have added results of a few important stocks and how they compare to the S&P 500.
        </p>
         <!-- <div class="stock_image1">
          <img src="static/img/day_stadium.jpg" alt="Day Stadium Image" width="450" height="350">
          </div>
      
          <div class="stock_image2">
          <img src="static/img/night_stadium.jpg" alt="Night Stadium Image" width="450" height="350">
          </div> -->


    </div> 
    

    
</body>
</html>