<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

    <title>Document</title>
</head>
<body>

    <!--NavBar-->
    <ul>
        <li style="float:left"><a class="active" href="/">Home</a></li>   
        <li><a href="/all_stocks.html">S&P 500</a></li>
     

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Winning/Losing Stocks</a>
            <div class="dropdown-content">
              <a href="/winning.html">Winning Stocks</a>
              <a href="/losing.html">Worst Stocks</a>
              <a href="/top10stocks.html">Runner-Upss</a>

            </div>
        
        <!-- <li><a href="/all_stocks.html">All Stocks</a></li>
        <li><a href="/top10stocks.html">Top 10 Stocks</a></li>

        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Winning/Losing Stocks</a>
            <div class="dropdown-content">
              <a href="/winning.html">Outperformed Market</a>
              <a href="/losing.html">Didn't Perform Market</a>

            </div>
        <li style="float:left"><a class="active" href="/">Home</a></li>    -->
        
    </ul>

    <div class="container">
        <h1>We have some Winners!</h1>
        <h3>NVR, Inc. and Amazon</h3>
        <h2>
            According to our Machine Learning Model, the stocks below are the most likely to beat the market in the future. Better start investing now!
        </h2>
        <p>
        </p>
        
        <!-- <div class=tock_image1">
          <img src="static/img/day_stadium.jpg" alt="Day Stadium Image" width="450" height="350">
          </div>
      
          <div class="stock_image2">
          <img src="static/img/night_stadium.jpg" alt="Night Stadium Image" width="450" height="350">
          </div> -->

    </div>
    <img src="static/img/winning_stocks/NVR_plot.png" alt="NVR vs. SP500">
    <img src="static/img/winning_stocks/AMZN_plot.png" alt="AMZN vs. SP500">
</body>
</html>